<app-navbar></app-navbar>
<table>
    <tr>
        <th>
            <div id="back" class="container">
                <h1 class="display-4">Start quiz</h1>
                <p class="lead">Check Your Knowledge.</p>
                <a class="btn btn-lg" [routerLink]="['/getstart']" role="button">Get Started <i class="bi bi-arrow-right-short"></i></a>
            </div>
        </th>

        <th>
            <img src="../../assets/images/quiz-bnr.jpg" width="1080" height="720">
        </th>
    </tr>
</table>
<app-footer></app-footer>